:root {
  --syntax-highlighted-input-background: rgb(40, 45, 60);
}

.SyntaxHighlightedInput {
  background: var(--syntax-highlighted-input-background);
  box-sizing: border-box;
  width: 600px;
  /* height: fixed, min-height: adaptive */
  min-height: 240px;
  padding: 20px;
}

.SyntaxHighlightedInput__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.SyntaxHighlightedInput__input,
.SyntaxHighlightedInput__output {
  background: transparent;
  border: none;
  font-family: monospace;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  white-space: pre-wrap;
}

.SyntaxHighlightedInput__input {
  color: transparent;
  caret-color: #ccc;
  resize: none;
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 1; */
}

.SyntaxHighlightedInput__input:focus {
  outline: none;
}

.SyntaxHighlightedInput__output {
  pointer-events: none;
  /* z-index: 0; */
}
