.Token {
  --token-default: #636e72;
  --token-none: transparent;
  --token-brace: var(--token-default);
  --token-identifier: #3498db;
  --token-keyword: #8e44ad;
  --token-number: #00b894;

  color: var(--token-default);
}

.Token--none {
  color: var(--token-none);
}

.Token--brace {
  color: var(--token-brace);
}

.Token--identifier {
  color: var(--token-identifier);
}

.Token--keyword {
  color: var(--token-keyword);
}

.Token--number {
  color: var(--token-number);
}
