:root {
  --main-background-color: #130f40;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
